@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Gruppo&family=Roboto:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-link {
  color: #61dafb;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  padding: 10px 20px;
  color: #fff;
}

.logo {
  font-size: 25px;
  font-family: Montserrat, sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #262626;
  text-align: center;
  padding: 10px;
}
.show {
  list-style: none;
  display: flex;
  gap: 20px;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #2626263;
  text-align: center;
  padding: 10px;
}
.show a {
  color: #fff;
  text-decoration: none;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
}
.mobile-menu-icon {
  display: none;
}
.flex-container {
  display: grid;
  flex-direction: row;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  gap: 15px;
  grid-template-columns: 300px 300px;
}
.flex-container2 {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  margin: 15px;
  gap: 15px;
  align-self: last baseline;
  justify-content: center;
  grid-template-columns: 200px;
}
.flex-item-left {
  background-color: #000;
  /* padding: 10px; */
  flex: 50%;
  color: white;
  padding: 85px 10px 0px 22px;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flex-item-right {
  background-color: #000;
  color: white;
  /* padding: 10px; */
  padding: 85px 10px 0px 22px;
  flex: 50%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flex-item-main {
  background-color: #000;
  color: #fff;
  padding: 210px 10px 0px 22px;
  color: white;
  width: 550px;
  /* min-width: 100px; */
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.source {
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  line-height: 1.2;
  font-weight: 500;
}
.source a {
  text-decoration: none;
  color: white;
}
.source2 {
  line-height: 0;
  text-decoration: none;
  color: white;
}
.source2 a {
  text-decoration: none;
  color: white;
}
.source3 {
  line-height: 0;
  text-decoration: none;
  color: white;
}
.source3 a {
  text-decoration: none;
  color: white;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #b3b3b3; */
  padding: 10px 30px;
  gap: 400px;
  color: #000;
  margin: 14px;
  font-size: 20px;
}
.title {
  color: #000;
  font-weight: 640;
  font-family: arial, sans-serif;
}
.Date {
  color: #737373;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
}
.flex-container-new {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  text-align: left;
  gap: 15px;
  margin: 20px;
  align-self: last baseline;
  justify-content: center;
  grid-template-columns: 200px;
}
.flex-container-four {
  display: grid;
  flex-direction: row;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  gap: 15px;
  grid-template-columns: 384px 384px 384px;
}
.flex-item-left-five {
  background-color: #000;
  /* padding: 10px; */
  flex: 50%;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  height: auto;
  /* border: 0.1px solid #cccccc; */
  padding: 182px 10px 0px 11px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* box-shadow: 0px 1px 9px -2px rgba(0, 0, 0, 0.75); */
}
.flex-item-right-six {
  background-color: #000;
  /* padding: 10px; */
  flex: 50%;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  padding: 182px 10px 0px 11px;
  height: auto;
  /* border: 0.1px solid #cccccc; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* box-shadow: 0px 1px 9px -2px rgba(0, 0, 0, 0.75); */
}
.flex-item-right-seven {
  background-color: #000;
  /* padding: 10px; */
  flex: 50%;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  padding: 182px 10px 0px 11px;
  height: auto;
  /* border: 0.1px solid #cccccc; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* box-shadow: 0px 1px 9px -2px rgba(0, 0, 0, 0.75); */
}
.header2 p {
  margin: 0px 170px 0px 165px;
  text-align: left;
  font-size: 23px;
  font-weight: 500;
}
.source5 {
  line-height: 0;
  text-decoration: none;
}
.source5 a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}
@media (max-width: 1380px) {
  .header2 p {
    text-align: left;
    margin: 0px 40px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 23px;
    /* justify-content: space-between; */
  }
}
@media (max-width: 1220px) {
  .flex-container-new {
    flex-direction: column;
    margin: 15px;
    grid-template-columns: auto;
  }
  .flex-container-four {
    flex-direction: column;
    margin: 0;
    grid-template-columns: auto;
  }
  .header2 p {
    text-align: left;
    margin: 0px 18px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 23px;
    /* justify-content: space-between; */
  }
  .flex-item-left-five {
    min-height: 100px;
    height: auto;
    width: 100%;
  }

  .flex-item-right-six {
    min-height: 100px;
    height: auto;
    width: 100%;
  }
  .flex-item-right-seven {
    min-height: 100px;
    height: auto;
    width: 100%;
  }
}
@media (max-width: 1145px) {
  .flex-container2 {
    flex-direction: column;
    margin: 22px;
    grid-template-columns: auto;
  }
  .flex-container {
    flex-direction: column;
    margin: 0;
    grid-template-columns: auto auto;
  }
  .flex-item-main {
    height: auto;
    min-height: 300px;
    width: 100%;
  }
  .flex-item-left {
    /* height: 150px; */
    height: auto;
  }
  .flex-item-right {
    /* height: 150px; */
    height: auto;
  }
  .source2 {
    line-height: 0;
    text-decoration: none;
    color: white;
  }
  .source3 {
    line-height: 0;
    text-decoration: none;
    color: white;
  }
  .header {
    gap: 180px;
    padding: 10px 10px 0px;
    justify-content: space-between;
  }
  .flex-container-new {
    flex-direction: column;
    margin: 22px;
    grid-template-columns: auto;
  }
  .flex-container-four {
    flex-direction: column;
    margin: 0;
    grid-template-columns: auto;
  }
  .header2 p {
    text-align: left;
    margin: 0px 20px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 23px;
  }
  .flex-item-left-five {
    min-height: 100px;
    height: auto;
    width: 100%;
  }
  .flex-item-right-six {
    min-height: 100px;
    height: auto;
  }
  .flex-item-right-seven {
    min-height: 100px;
    height: auto;
  }
}
@media (max-width: 750px) {
  .flex-container2 {
    flex-direction: column;
    margin: 12px;
    grid-template-columns: auto;
  }
  .flex-container {
    flex-direction: column;
    margin: 0;
    grid-template-columns: auto;
  }
  .flex-item-main {
    width: 100%;
    height: auto;
    min-height: 300px;
  }
  .flex-item-left {
    height: auto;
    background-image: none;
    background-size: 0;
    background-color: white;
    color: black;
    padding: 15px 10px 0px 20px;
    border: 1px solid black;
    /* line-height:; */
  }
  .flex-item-right {
    height: auto;
    background-image: none;
    background-size: 0;
    background-color: white;
    color: black;
    padding: 15px 10px 0px 20px;
    border: 1px solid black;
  }
  .header {
    font-size: 16px;
    gap: 14px;
    justify-content: space-between;
    padding: 0px 0px 0px;
  }
  .Date {
    line-height: 1.4;
  }
  .source2 a {
    text-decoration: none;
    color: black;
  }
  .source3 a {
    text-decoration: none;
    color: black;
  }
  .flex-container-new {
    margin: 12px;
  }
  .header2 p {
    text-align: left;
    margin: 0px 11px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 23px;
  }
  .flex-item-left-five {
    min-height: 100px;
    height: auto;
    width: 100%;
    /* padding: 160px 10px 0px 20px; */
  }
  .flex-item-right-six {
    min-height: 100px;
    height: auto;
  }
  .flex-item-right-seven {
    min-height: 100px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .mobile-menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: block;
    transition: 0.8s;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 13px 20px;
    color: #fff;
  }
  .show {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .nav-links {
    display: none;
  }
  .show {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #000;
    text-align: center;
    padding: 40px;
  }
  .show a {
    color: #fff;
    text-decoration: none;
  }
  @media (max-width: 276px) {
    .header {
      display: block;
    }
  }
  /* .flex-item-left-five {
    height: auto;
    width: 100%;
    padding: 230px 10px 0px 20px;
  }
  .flex-item-right-six {
    height: auto;
    width: 100%;
    padding: 230px 10px 0px 20px;
  }
  .flex-item-right-seven {
    height: auto;
    width: 100%;
    padding: 230px 10px 0px 20px;
  } */
}

@media screen and (max-width: 240px) {
  .source {
    font-size: 13px;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
